@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
    font-family: 'Lexend', sans-serif;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Não padrão */
}

html {
    scroll-behavior: smooth;
}

/* Barra de rolagem modificada */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #D9287A;
    border-radius: 12px;
}