/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.primary-font {
    font-family: "Montserrat", sans-serif;
}

.secondary-font {
    font-family: "Roboto", sans-serif;
}

/* Seleção de texto */
* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

/* Scroll suavizado */
html {
    scroll-behavior: smooth;
}

/* Barra de rolagem modificada */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #D9287A;
    border-radius: 12px;
}